
h1 {
color: white;
  text-align: center;
  font-style: bold;
  background-color: blue;
  margin: 0px, 0px;
  height: 40px;
  padding: 40px;
  width: 100%;
}

body {
color: navy;
  background: rgb(255,250,250); 
}

head, body {
font-family: Helvetica;
  text-align: center;
}
