
h1 {
color: white;
}

body {
color: beige;
  background: #141E30; 
  background-image: url('https://newevolutiondesigns.com/images/freebies/4k-space-ipad-wallpaper-1.jpg');
}

head, body {
font-family: Helvetica;
}
