
img {
  border-radius: 50%;
  overflow: hidden;
}


body {
font-family: Helvetica;
color: Navy;
  text-align: center;
  margin: 0;
  padding: 0;
}

.headshot {
background-color: yellow;
width = 100px;
height=100px;
position: absolute;
margin: 50px 70px;
z-index = 10;
padding: 10px;
border-radius: 50%;
}

h1 {
color: white;
  display: block;
  text-align: center;
  font-style: bold;
  background-color: LightSkyBlue;
  height: 90px;
  padding: 40px 0;
  margin: 0;
 
}


